h1 {
   text-transform: uppercase; 
   font-family: 'Rubik 80s Fade';
}
body{
   background-color: whitesmoke;
}
p {
   font-family: 'Times New Roman', Times, serif;
}
h2{
   color: rgb(0, 0, 0);
}
a {
   color: black;
}

































